<!doctype html>
<html>

<head>
    <title>Package Status</title>
</head>

<body>
    <h1>Package Status</h1>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          {% for package in packages %}
          <tr>
            <td>{{ package.id }}</td>
            <td>{{ package.sender }}</td>
            <td>{{ package.recipient }}</td>
            <td>{{ package.origin }}</td>
            <td>{{ package.destination }}</td>
            <td>{{ package.location }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>

</html>
