<!doctype html>
<html>

<head>
    <title>Package Tracker Form</title>
</head>

<body>
    <h1>Shipping Form</h1>
    <a href="/">Status</a>
    <form method="POST" action="{{ url_for('.package') }}">
        {{ form.csrf_token }}
        <div>
            {{ form.sender_name.label }} {{ form.sender_name }}
        </div>
        <div>
            {{ form.recipient_name.label }} {{ form.recipient_name }}
        </div>
        <div>
            {{ form.origin.label }} {{ form.origin }}
        </div>
        <div>
            {{ form.destination.label }} {{ form.destination }}
        </div>
        <div>
            {{ form.express.label }} {{ form.express }}
        </div>
        <div>
            {{ form.submit }}
            {{ form.cancel }}
        </div>
    </form>
</body>

</html>
